<!DOCTYPE html>
<html lang="en">

<head>
  <title>QG <%= header.name %></title>
  <%- include('qg-report-head.ejs') %>
</head>

<body>
  <%- include('qg-report-body.ejs') %>
    
  <h1><%= header.name %></h1>
  
  <%- include('qg-header.ejs') %>
  
  <% if (locals.metadata && locals.metadata.version) { %>
    <%- include('qg-dashboard-section.ejs') %>
    <%- include('qg-result-section.ejs') %>
    <%- include('qg-evidence-section.ejs') %>
  <% } else { %>
    <%- include('qg-dashboard-section-old.ejs') %>
    <%- include('qg-result-section-old.ejs') %>
    <%- include('qg-evidence-section-old.ejs') %>
  <% } %>
  <%- include('footer-legend.ejs') %>
  </body>
</html>
